# depandans
node_modules/
/.pnp
.pnp.*
yarn-error.log

# rezilta build Next.js
.next/
out/
build/

# anviwonman (sekirite)
.env*.local
.env

# kach (cache)
.eslintcache
.stylelintcache

# sistèm operasyon
.DS_Store
Thumbs.db

# verifikasyon tip (TypeScript)
*.tsbuildinfo
next-env.d.ts